<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="downloadData.path" placeholder="Url">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="downloadFile()">Download</button>
  <button mat-raised-button color="primary" (click)="getFileNames()">List Files</button>
</mat-card>

<div *ngFor="let fileNames of csvServ.fileNames | async">
  <mat-card class="card">
    <mat-card-content>
      <div *ngFor="let name of fileNames.fileNames">
        <button mat-raised-button color="primary" (click)="downloadFileParam(name)">{{name}}</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <!--<div [innerHTML]="text.text"></div>-->
    <!-- <p>{{text.text}}</p> -->
    <!-- <mat-card-content> {{text.text}} </mat-card-content> -->
  </mat-card>
</div>
