<div style="position: relative; min-height: 200px;">
<mat-table [dataSource]="csvServ.pageData" class="mat-elevation-z8" style="position: relative; max-height: 400px; overflow: auto;">
  <!--<div *ngfor="let name of csvServ.colNames">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> {{name}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  </div>-->
  <ng-container matColumnDef="guid">
    <mat-header-cell *matHeaderCellDef> Guid </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.guid}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="first">
    <mat-header-cell *matHeaderCellDef> First </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.first}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="last">
    <mat-header-cell *matHeaderCellDef> Last </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.last}} </mat-cell>
  </ng-container>

   <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
  </ng-container>

   <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="street">
    <mat-header-cell *matHeaderCellDef> Street </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.street}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="csvServ.colNames | async"></mat-header-row>
  <mat-row *matRowDef="let row; columns: csvServ.colNames | async;"></mat-row>
</mat-table>
 
<mat-paginator [length]="csvServ.resultsLength" [pageSize]="30" (page)="onPageFired($event)"></mat-paginator>
</div>
